/* RESET */
*, ::before, ::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --color: rgb(52, 77, 238);
  --white: rgb(236, 236, 229);
}
body{
  background-color: var(--white);
}
.main-title{
  text-align: center;
  margin: 10px;
}
.date{
  text-align: center;
}
.context{
  text-align: center;
}
.skill-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 30px;
}
.skill-box{
  border: 1px solid var(--color);
  border-radius: 7px;
  margin: 10px;
  overflow: hidden;
}
.skill-box h3, .skill-box a{
  text-decoration: none;
  background-color: var(--color);
  color: var(--white);
  padding: 7px;
}
.skill-box p{
  padding: 7px;
  text-align: justify;
}